<MudThemeProvider IsDarkMode="@true" />
<MudSnackbarProvider />
<MudDialogProvider />
<MudPopoverProvider />

<CascadingValue Value="this">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingValue>

@code {
    [CascadingParameter] 
    private Task<AuthenticationState>? AuthenticationState { get; set; }
}